{% extends 'base.html' %}
{% load static %}

{% block htmlHead %}
<link rel="stylesheet" href="{% static 'css/detail.css' %}">
<style>
    .nav-community a{
        color: #92009D;
    }
</style>

{% endblock %}


{% block mainContent %}

<div class = "community">
    <div class = "filter-area">
        <div class = "introduction">
            <span>커뮤니티</span> 게시판
            <img src = "{% static 'img/community_icon.png' %}" class = "community-icon">
        </div>
    </div>

    <div class = "post-area">

        <div class = "post-head">
            <div class = "post-head-top">
                <div class = "post-head-box-top">
                    <div class = "post-head-box-top-left">
                        <div class = "post-title">
                            {{ post_details.title }}
                        </div>
                        <div class = "post-tag
                        {% if community.tag == '코드질문' %} tag-question {% endif %}
                        {% if community.tag == '자유' %} tag-free {% endif %}
                        {% if community.tag == '고민' %} tag-problem {% endif %}
                        {% if community.tag == '공지' %} tag-notice {% endif %}
                        ">
                            {{ post_details.tag }}
                        </div>
                    </div>
                    <div class = "post-time">
                        <div class = "post-date">
                            {{ post_details.pub_date | date:'Y.m.d'}}
                        </div>
                        <div class = "post-clock">
                            {{ post_details.pub_date | date:'H:i'}}
                        </div>
                    </div>
                </div>
                <div class = "post-edit-delete">
                    수정
                </div>
            </div>
            <div class = "post-head-bottom">
                <div class = "post-head-box-bottom">
                    <div class = "post-author">
                        <img class = "author-thumbnail" src = "{% static 'img/memoji01.jpg' %}">
                        <div class = "author-name">
                            {{ post_details.author }}
                        </div>
                    </div>
                    <div class = "post-details">
                        <div class = "post-detail">
                            <div class = "post-detail-key">
                                조회수
                            </div>
                            <div class = "post-detail-value">
                                {{ post_details.views }}
                            </div>
                        </div>
                        <div class = "post-detail">
                            <div class = "post-detail-key">
                                추천수
                            </div>
                            <div class = "post-detail-value">
                                {{ post_details.votes }}
                            </div>
                        </div>
                        <div class = "post-detail">
                            <div class = "post-detail-key">
                                댓글수
                            </div>
                            <div class = "post-detail-value">
                                {{ post_details.comment_count }}
                            </div>

                        </div>
                    </div>
                </div>
                <div class = "post-edit-delete">
                    삭제
                </div>

            </div>
            
        </div>
        <div class = "post-content-area">
            <div class = "post-content">
                {{ post_details.body | linebreaks }}
            </div>
            <div class = "post-vote">
                추천비추천
            </div>
        </div>
        <div class = "comment-area">
            <div class = "comment-area-left">
                <div class = "comment-head">
                    <img src = "{% static 'img/chat.png' %}" class = "comment-icon">
                    <div class = "comment-head-key">
                        댓글
                    </div>
                    <div class = "comment-head-value">
                        3
                    </div>
                </div>
                {% for comment in comments %}
                <div class = "comment-content">
                    <div class = "comment-content-top">
                        <div class = "comment-author">
                            <img class = "comment-author-thumbnail" src = "{% static 'img/memoji01.jpg' %}">
                            <div class = "comment-author-name">
                                {{ comment.author }}
                            </div>
                        </div>
                        <div class = "comment-time">
                            <div class = "comment-date">
                                {{ comment.pub_datetime | date:'Y.m.d'}}
                            </div>
                            <div class = "comment-clock">
                                {{ comment.pub_datetime | date:'H:i'}}
                            </div>
                        </div>
                    </div>
                    <div class = "comment-content-bottom">
                        <div class = "comment-content-content">
                            {{ comment.content }} 
                        </div>
                        <div class = "comment-edit-area">
                            <a href = "#">댓글</a>
                            <a href = "#"> 수정하기</a>
                            <a href = "#">신고</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <form action="{% url 'new_comment' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class = "comment-write-area">
                        <div class = "comment-static">댓글쓰기</div>
                        <div class = "comment-write">
                            
                            <input type = "hidden" name = "post_id" value = "{{post_details.id}}">
                            <textarea name = "comment-content" id = "" cols = "30" rows = "10" placeholder="댓글을 남겨보세요"></textarea>
                            <button type = "submit">등록</button>
                    
                        </div>
                    </div>
                </form>
            </div>
            <div class = "comment-empty">
            </div>

        </div>
    </div>
</div>

{% endblock %}