.board {
    display: flex;
    flex-direction: row;
    margin: 37px auto 0px auto;
    font-family: Noto Sans KR;
    width: 75%;
}

.filter-area {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 2px solid #707070;
}

.introduction {
    font-size: 23px;
    line-height: 54px;
}

.introduction span {
    font-weight: bold;
    color: #92009D;
}

.reviewimg {
    height: 25px;
    vertical-align: middle;
}

.quest-area {
    box-sizing: border-box;
    flex: 1;
}

.tag-area {
    width: 256px;
    padding: 50px 0px 0px 0px;
    margin-left: 55px;
    flex-shrink: 0;
    box-sizing: border-box;
}

.filter-box {
    list-style: none;    
    display: flex;
    padding: 0
}

.filter-item {
    border-right: 1px solid black;
    padding: 0px 15px;
    font-size: 15px;
}

.filter-item a {
    text-decoration: none;
    color: black;
}

.filter-item button, button:active, button:focus, button:hover {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: none;
    background: none;
    font-size: 15px;
    outline: none;
}



.filter-item:last-child{
    border-right: 0px;
}

.quest-list {
    list-style: none;
    color: black;
    text-decoration: none;
    padding: 0 0 30px 0;
    border-bottom: 2px solid #707070;
    flex-grow: 1;
}

.quest-box {
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 0;
    margin: 15px 0px;
    height: 150px;
    display: flex;
    flex-direction: row;
}

.quest-index {
    flex: 0 10px;
    border-radius: 10px 0px 0px 10px;
}



.quest-left {
    flex: 0 150px;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px dashed #707070;
}

.quest-body {
    flex-grow: 1;
    flex-shrink: 1;
    padding: 0px 0px 0px 10px;
    display: flex;
    flex-direction: column;
    font-size: 15px;
}

.quest-right {
    flex-basis: 140px;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quest-status {
    box-sizing: border-box;
    text-align: center;
    color: #19B0F6;
    margin-bottom: 17px;
}

.quest-left span {
    color: #707070;
    font-size: 13px;
    font-weight: bold;
}

.quest-author {
    text-align: center;
    margin-bottom: 15px;
    white-space: nowrap;
}

.quest-date {
    font-size: 13px;
    color: #707070;
}

.quest-title {
    white-space: nowrap;
    font-size: 23px;    
}

.quest-body p {
    margin: 4px 0px 14px 0px;
    display: block;
    height: 45px;
}

.quest-bounty {
    background-color: #411740;
    width: 90px;
    height: 30px;
    line-height: 30px;
    margin-bottom: 5px;
    text-align: center;
    color: white;
    border-radius: 20px;
}


.quest-tags {
    display: flex;
}

.tag {
    display: inline-block;
    background-color: #2793e6ab;
    border-radius: 26px;
    padding: 5px 20px;
    margin: 0px 5px;
    font-size: 15px;
    color: white;
}

.quest-box a {
    color: black;
    text-decoration: none;
}

.quest-deadline {
    width: 120px;
    height: 45px;
    padding: 5px;
    box-sizing: border-box;
    margin: 5px;
    font-size: 13px;
    color: white;
    background-color: #B11111;
    border-radius: 10px;
    text-align: center;
}

.quest-statistics {
    height: 53px;
    line-height: 53px;
    font-size: 13px;
}

.quest-statistics .likes {
    color: #0728FF;
    display: inline-block;
    width: 63px
}

.explore-area {
    background-color: #F5F5F5;
    height: 156px;
    margin: 30px 0 65px 0;
    border-radius: 10px;
    text-align: center;
}

.create {
    width: 256px;
    height: 150px;
    border: 1px dashed #707070;
    border-radius: 10px;
    box-shadow: 0px 2px 4px 4px #EEEEEE;
    font-size: 25px;
    color: black;
    text-align: center;
}

.tag-area a {
    text-decoration: none;    
}


@media screen and (max-width: 880px) {
    .board {
        width: 100%;
    }

    .tag-area {
        display: none;
    }
    .quest-area {
        width: 100%;
    }
}