body {
    margin: 0;
    width: 100%;
    font-family: Noto Sans KR;
}

input {
    font-family: Noto Sans KR;
}

.navbar {
    background-color: #F9F9F9;
    position: relative;
    display: flex;
    flex-direction: row;
    width: 75%;
    height: 120px;
    top:0;
    margin: 0px auto;
    box-shadow: 0px 5px 5px 2px #cfcfcf81;
    font-family: Noto Sans KR;
}

.menu {
    display: none;
    width: calc(50% - 75px);
    box-sizing: border-box;
    padding-left: 60px;
    line-height: 120px;
}

.menu img{
    vertical-align: middle;
}

.nav-box {
    list-style: none;    
    display: flex;
    justify-content: space-around;
    height: 120px;
    width: calc(50% - 150px);
    box-sizing: border-box;
    padding: 0px calc(50% - 500px) 0px 40px;
    margin: 0;
}

.nav-item {
    display: flex;
    align-items: center;
    justify-content: center;

}

.nav-item a {
    color: black;
    text-decoration: none;
    white-space: nowrap;
    font-size: 20px;
}

.logo-box{
    display: flex;
    align-items: center;
    width: 300px;
    justify-content: center;
    box-sizing: border-box;
    font-size: 40px;
}

.logo-box a{
    color: #651902;
    text-decoration: none;
    white-space: nowrap;
    font-family: Cactus;
}

.user-box{
    display: flex;
    align-items: center;
    width: calc(50% - 150px);
    justify-content: flex-end;
    box-sizing: border-box;
    padding: 0px 40px 0px 0px;
}

.user-box span{
    font-weight: bold;
    margin-right: 5px;
}

.user-thumb{
    width: 35px;
    height: 35px;
    border-radius: 70%;
    background-color: white;
    margin:5px 10px 0 0;
    overflow: hidden;
    padding: 3.5px;
    box-sizing: border-box;
}

.logout-link {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.user-thumbnail {
    width: 40px;
    height: 40px;
    border-radius: 70%;
    margin-right: 20px;
}


.user-box a {
    color: black;
    text-decoration: none;
    white-space: nowrap;
    font-size: 20px;
    margin-right: 20px;
    /* height: 100%; */
}

.user-box a:hover {
    /* border-bottom: 1px solid #92009D; */
    color: #92009D;
}

.nav-item a:hover {
    color: #92009D;
  }


.nav-item:hover {
    border-bottom: 2px solid #92009D;
  }



@media screen and (max-width: 1280px) and (min-width: 880px) {
    .logo-box {
        font-size: 30px;
        width: 150px;
    }

    .nav-box {
        width: calc(50% - 75px);
        padding: 0px calc(50% - 300px) 0px 20px;
    }

    .nav-box a {
        font-size: 16px;
    }

    .user-box {
        width: calc(50% - 75px);
    }

    .user-box a {
        font-size: 16px;
    }
}


.footer {
    box-sizing: border-box;
    width:75%;
    height: 270px;
    margin: 0px auto;
    background-color: #411740;
    color: white;
    padding: 30px 50px 0px 50px;
}

.footer-title {
    font-family: Cactus;
    font-size: 45px;
    border-bottom: 1px solid #F9F9F9;
}

.footer-menu {
    display: flex;
    height: 45px;
}

.footer-menu-left, .footer-menu-right{
    list-style: none;
    display: flex;
}

.footer-menu-right {
    flex-grow: 1;
    justify-content: flex-end;
}

.footer-menu-right ul {
    padding-right: 0;
}

.footer-item {
    padding: 0 50px 0 0;
}

.footer-item a {
    color: white;
    text-decoration: none;
    font-size: 23px;
    font-family: Consolas;
}

.footer-team {
    text-align: center;
    margin-top: 50px;
    font-size: 18px;
}

.footer-team span {
    font-family: Consolas;
    font-size: 20px;
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

@media screen and (max-width: 880px) {
    .navbar{
        width: 100%;
        left: 0%;
    }

    .menu {
        display: block;
    }

    .logo-box {
        font-size: 30px;
        width: 150px;
    }

    .nav-box {
        display: none;
    }

    .user-box {
        width: calc(50% - 75px);
    }

    .user-box a {
        font-size: 16px;
    }

    .footer {
        width: 100%;
        margin: 0;
    }

    .footer-item a {
        font-size: 16px;
    }
}

@font-face { 
    font-family:'Cactus'; 
    src:url('../fonts/Cactus\ Regular.otf') format('truetype'); 
}

@font-face { 
    font-family:'Noto Sans KR'; 
    src:url('../fonts/NotoSansKR-Medium.otf') format('truetype'); 
}