.box {
    height : 925px; 
    width : 87%; 
    margin : 0px auto; 
    z-index: 0;
    position : relative;
}

.navbar {
    position: absolute;
    z-index: 3;    
    left: 12.5%;
}

img.wallpaper2{
    position : absolute;
    height: 925px;
    width : 100%;
    z-index: -1;
    -webkit-filter: blur(20px);
    -moz-filter: blur(20px);
    -o-filter: blur(20px);
    -ms-filter: blur(20px);
    filter: blur(20px);
}

img.wallpaper1 {
    height: 925px;
    width : 100%;
    position: absolute;
    z-index: 0;
}

.box .text {
    position : absolute;
    left : 5%;
    bottom : 20%;
    font-size : 2.8rem;
    color : rgb(233, 230, 230);
}

.text p {
    margin : 15px;
}

.bigword {
    position : absolute;
    bottom : -38%;
    font-size : 5rem;
    color : #FFE1AF;
}

.click span {
    position : relative;
    left : 11%;
    font-size : 2.4rem;
    text-decoration: none;
}

.box-model {
    position: relative;
    margin: 0 auto;
    width: 85%;
    height: calc(750px + 45px);
}

.wallpaper {
    position: absolute;
    width: 100%;
    height: 750px;
    background: url(../img/wallpaper.png) no-repeat 0 0;
    background-size: 100% 100%;
    
}

.mainwall {
    z-index: 0; 
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.effectwall {
    z-index: -1;
    -webkit-filter: blur(20px);
    -moz-filter: blur(20px);
    -o-filter: blur(20px);
    -ms-filter: blur(20px);
    filter: blur(20px);
}

.wallpaper-phrase1 {
    margin: 0 0 20px 80px;
    font-size: 40px;
    color: #F9F9F9;
}
.wallpaper-phrase2 {
    margin: 20px 0 120px 80px;
    font-size: 55px;
    color:#FFE1AF;
}
.search-bar {
    position: absolute;
    left: calc(50% - (45% / 2));
    bottom: calc(-90px / 2);
    width: 45%;
    height: 90px;
    background-color: white;
    border-radius: 60px;
    box-shadow: 2px 2px 6px #707070;
    display: flex;   
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.search-bar input {
    outline: none;
    font-size: 40px;
    border: none;
    font-family: Consolas;
    margin-left: 100px;
}

.search-bar input::placeholder {
    color: black;
}

.landing-page{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
}

.shortcuts-social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: calc(15% / 2);
}

.shortcuts {
    display: flex;
    flex-direction: row;
    margin-left: 190px;
}

.shortcuts span {
    font-size: 30px;
    background-color: #FFE1AF;
    margin-right: 110px;
    
}

.social {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.social img {
    width: 30px;
    height: 30px;
    margin-left: 30px;
}

.experience {
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    height: 700px;
}

.experience-header {
    display: flex;
    flex-direction: column;
}

.border-experience{
    position: relative;
    width: 1000px;
    border-top: 30px solid #C25A98;
}
.circle {
    position: absolute;
    right: -15px;
    top: -30px;
    width: 30px;
    height: 30px;
    border-radius: 70%;
    background-color: #C25A98;
}

.border-experience > span{
    position: absolute;
    left: 300px;
    top: -70px;
    font-size: 50px;
    font-weight: bold;
}
.experience-header > span {
    font-size: 22px;
    font-weight: bold;
    color:#515151;
    margin: 10px 0 0 550px; 
}

.wanted {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 190px;
}

.img-wanted {
    width: 650px;
    height: 400px;
    background-color: #D5D5D5;  
    margin-right: 100px;  
}

.wanted-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 15px;
}

.wanted-header {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 0px;
}

.wanted-header p {
    margin: 0px;
}

.wanted-content {
    font-size: 20px;
    color:#515151;
    margin-bottom: 20px;
}

.wanted-content p {
    margin: 0 0 3px 0;
}

.go-to-wanted {
    width: 230px;
    height: 60px;
    border-radius: 35px;
    background-color: #92009D;
    color: white;
    font-size: 25px;
    line-height: 60px;
    text-decoration: none;
    text-align: center;
}

.go-to-wanted:hover {
    box-shadow: 0 0 7px #92009D;
}



.border-for-wanted {
    width: 300px;
    height: 180px;
    border-left: 7px solid black;
}