.box {
    height : 925px; 
    width : 87%; 
    margin : 0px auto; 
    z-index: 0;
    position : relative;
}

.navbar {
    position: absolute;
    z-index: 3;
}

img.wallpaper2{
    position : absolute;
    height: 925px;
    width : 100%;
    z-index: -1;
    -webkit-filter: blur(20px);
    -moz-filter: blur(20px);
    -o-filter: blur(20px);
    -ms-filter: blur(20px);
    filter: blur(20px);
}

img.wallpaper1 {
    height: 925px;
    width : 100%;
    position: absolute;
    z-index: 0;
}

.box .text {
    position : absolute;
    left : 5%;
    bottom : 20%;
    font-size : 2.8rem;
    color : rgb(233, 230, 230);
}

.text p {
    margin : 15px;
}

.bigword {
    position : absolute;
    bottom : -38%;
    font-size : 5rem;
    color : #FFE1AF;
}

.click span {
    position : relative;
    left : 11%;
    font-size : 2.4rem;
    text-decoration: none;
    border-bottom : 6px solid #FFE1AF;
    box-shadow : inset 0 -4px 0 #FFE1AF;
    color : inherit;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}

.click span:hover {
    opacity: 1;
    background-color: #FFE1AF;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    transition: -webkit-transform .6s cubic-bezier(.08, .35, .13, 1.02), opacity .4s;
    transition: transform .6s cubic-bezier(.08, .35, .13, 1.02), opacity
}
