{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block htmlHead %}
    {% endblock  %}
    <title>코드헌터</title>
</head>
<body>
    
    
    <div class="navbar">
        <div class="menu">
            <img src="../static/img/menubutton.png">
        </div>
        <ul class="nav-box">
            <li class="nav-item nav-board">
                <a href="{% url 'board' %}">게시판</a>
            </li>
            <li class="nav-item nav-community">
                <a href="{% url 'community' %}">커뮤니티</a>
            </li>
            <li class="nav-item nav-ranking">
                <a href="{% url 'ranking' %}">랭킹</a>
            </li>
        </ul>
        <div class="logo-box">
            <a href="{% url 'index' %}">CODE HUNTER</a>

        </div>
        <div class="user-box">
            <a href="#">타라큐님</a>
        </div>
    </div>
    
    {% block mainContent %}
    {% endblock %}

</body>
</html>