{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block htmlHead %}
    {% endblock  %}
    <title>코드헌터</title>
</head>
<body>
    
    
    <div class="header" style="background-color: rgb(255, 217, 0); height: 80px; text-align: center;">
        <div class="navbar" style="text-align: right;">
            <a href="{% url 'board' %}">코드리뷰</a>
        </div>
        헤더 테스트
    </div>
    
    {% block mainContent %}
    {% endblock %}

</body>
</html>