{% extends 'base.html' %}
{% load static %}

{% block htmlHead %}
<link rel="stylesheet" href="{% static 'css/landing.css' %}">
{% endblock %}

{% block mainContent %}
<div class="box">
    <img src="{% static 'img/wallpaper.png' %}" class="wallpaper2">
    <img src="{% static 'img/wallpaper.png' %}" class= "wallpaper1">
    <div class="text">
        <p>개발자와 개발자 Wannabe를 위한</p>  
        <p>CodeReview 플랫폼</p>
        <br/>
        <p class='bigword'>코드헌터</p>
    </div>    
</div>
{% endblock %}