{% extends 'base.html' %}
{% load static %}

{% block htmlHead %}
<link rel="stylesheet" href="{% static 'css/landing.css' %}">


{% endblock %}

{% block mainContent %}
<div class = "box-model">
    <div class = "wallpaper mainwall">
        <div class = "wallpaper-phrase1">개발자와 개발자 WannaBe를 위한</div>
        <div class = "wallpaper-phrase1">CodeReview 플랫폼</div>
        <div class = "wallpaper-phrase2">코드헌터</div>
        <form action = "#" method="GET"> 
            <div class = "search-bar">
                <input type = "text" name = "landing-search" placeholder="search your code ;">
            </div>
        </form>
    </div>
    <div class = "wallpaper effectwall"></div>
</div>

<div class = "landing-page">
    <div class = "shortcuts-social">
        <div class = "shortcuts">
            <a href = "{% url 'createquest' %}" class = "go-to">질문하러가기
                <div class = "go-to-background"></div>
            </a>
            <a href = "{% url 'board' %}" class = "go-to">답변하러가기
                <div class = "go-to-background"></div>
            </a>
            <a href = "{% url 'community' %}" class = "go-to">커뮤니티
                <div class = "go-to-background"></div>
            </a>
        </div>
        <div class = "social">
            <a href = "#">
                <img src = "{% static 'img/facebook.png' %}">
            </a>
            <a href = "#">
                <img src = "{% static 'img/instagram.png' %}">
            </a>
            <a href = "#">
                <img src = "{% static 'img/whatsapp.png' %}">
            </a>
        </div>
    </div>
    <div class = "gradient-space">
        <span></span>
        <span></span>
    </div>

    <div class = "experience">
        <div class = "experience-header">
            <div class = "border-experience">
                <div class = "circle"></div>
                <span>Code Hunter Experience</span>
            </div>
            <span>코드헌터는 이런 서비스를 제공해요</span>
        </div>
        <div class = "wanted">
            <div class = "img-wanted"></div>
            <div class = "wanted-main">
                <div class = "wanted-header">
                    <p>WANTED!</p>
                    <p>내 코드를 수배합니다</p>
                </div>
                <div class ="wanted-content">
                    <p>알듯말듯한 코드의 세계</p>
                    <p>떠다니는 강의는 많지만,</p>
                    <p>베테랑들의 노하우는 천기누설인걸까요?</p>
                    <p>내 문제를 파헤쳐줄 코드리뷰가 필요할 때,</p>
                    <p>코드헌터가 필요할 때</p>
                </div>
                <a href = "{% url 'createquest' %}" class = "go-to-wanted">리뷰 요청하기</a>
            </div>
            <div class = "border-for-wanted"></div>
        </div>
        <div class = "blank-experience"></div>
        <div class = "bounty-hunter">
            <div class = "border-for-bounty"></div>
            <div class = "bounty-main">
                <div class = "bounty-header">
                    <span>21세기 현상금 사냥꾼</span>
                </div>
                <div class = "bounty-content">
                    <p>여기 이곳, 황야는 아니지만 현상금 사냥꾼들은 건재합니다!</p>
                    <p>21세기 장고들은 모래바람 대신 검은 화면 위를 누벼요.</p>
                    <p>선량한 뉴비 개발자들을 위해,</p>
                    <p>소스코드의 평화를 지키기 위해.</p>
                    <p>그리고 짭짤한 바운티는 덤.</p>
                    <p>참, 대세는 N잡, 아시죠?</p>
                </div>
                <a href = "{% url 'board' %}" class = "go-to-bounty">질문글 보러가기</a>
            </div>
            <div class = "img-bounty">

            </div>
        </div>
        <div class = "blank-experience"></div>
        <div class = "dev-talk">
            <div class = "img-talk"></div>
            <div class = "dt-border"></div>
            <div class = "dt-main">
                <div class = "dt-header">
                    <span>Let's Dev Talk</span>
                </div>
                <div class = "dt-content">
                    <p>코드헌터는 유료 서비스만 있는게 아니에요.</p>
                    <p>친절한 헌터들은 대화를 즐깁니다!</p>
                    <p>간단한 에러 해결부터 개발자라면 공감할만한 고민들까지.</p>
                    <p>개발자들의 쉼터가 되어줄 거에요.</p>
                </div>
                <a href = "{% url 'community' %}" class = "go-to-community">커뮤니티 방문하기</a>
            </div>
            
        </div>
    </div>
    <div class = "meet-our-team">
        <div class = "mot-header">
            <div class = "border-mot">
                <div class = "circle"></div>
                <span>Meet Our Team</span>
            </div>
            <span>코드헌터의 개발진을 소개합니다.</span>
        </div>
        
        <div class = "team-photos">
            <div class = "team-photo"></div>
            <div class = "team-photo"></div>
            <div class = "team-photo"></div>
            <div class = "team-photo"></div>
            <div class = "team-photo"></div>
        </div>


    </div>
</div>
{% endblock %}